ipywidgets==8.1.2
matplotlib==3.8.4
pandas==2.2.2
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
fenics-dolfinx==0.8.0
pyvista==0.44.1
sympy
scipy 
pyaml
gmsh
seaborn
tqdm
pytest
pytest-xdist 
nbmake
ipyparallel
